Service References/GOService/GOPazigrad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GOPazigrad" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49982/GOPazigrad.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49982/GOPazigrad.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49982/GOPazigrad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GO.Servisi" />
      <xsd:import schemaLocation="http://localhost:49982/GOPazigrad.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGOPazigrad_Gradovi_InputMessage">
    <wsdl:part name="parameters" element="tns:Gradovi" />
  </wsdl:message>
  <wsdl:message name="IGOPazigrad_Gradovi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GradoviResponse" />
  </wsdl:message>
  <wsdl:message name="IGOPazigrad_Grupe_InputMessage">
    <wsdl:part name="parameters" element="tns:Grupe" />
  </wsdl:message>
  <wsdl:message name="IGOPazigrad_Grupe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrupeResponse" />
  </wsdl:message>
  <wsdl:message name="IGOPazigrad_DodajKlasifikaciju_InputMessage">
    <wsdl:part name="parameters" element="tns:DodajKlasifikaciju" />
  </wsdl:message>
  <wsdl:message name="IGOPazigrad_DodajKlasifikaciju_OutputMessage">
    <wsdl:part name="parameters" element="tns:DodajKlasifikacijuResponse" />
  </wsdl:message>
  <wsdl:message name="IGOPazigrad_DodajKorisnika_InputMessage">
    <wsdl:part name="parameters" element="tns:DodajKorisnika" />
  </wsdl:message>
  <wsdl:message name="IGOPazigrad_DodajKorisnika_OutputMessage">
    <wsdl:part name="parameters" element="tns:DodajKorisnikaResponse" />
  </wsdl:message>
  <wsdl:message name="IGOPazigrad_NoviPredmet_InputMessage">
    <wsdl:part name="parameters" element="tns:NoviPredmet" />
  </wsdl:message>
  <wsdl:message name="IGOPazigrad_NoviPredmet_OutputMessage">
    <wsdl:part name="parameters" element="tns:NoviPredmetResponse" />
  </wsdl:message>
  <wsdl:portType name="IGOPazigrad">
    <wsdl:operation name="Gradovi">
      <wsdl:input wsaw:Action="http://tempuri.org/IGOPazigrad/Gradovi" message="tns:IGOPazigrad_Gradovi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGOPazigrad/GradoviResponse" message="tns:IGOPazigrad_Gradovi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Grupe">
      <wsdl:input wsaw:Action="http://tempuri.org/IGOPazigrad/Grupe" message="tns:IGOPazigrad_Grupe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGOPazigrad/GrupeResponse" message="tns:IGOPazigrad_Grupe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DodajKlasifikaciju">
      <wsdl:input wsaw:Action="http://tempuri.org/IGOPazigrad/DodajKlasifikaciju" message="tns:IGOPazigrad_DodajKlasifikaciju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGOPazigrad/DodajKlasifikacijuResponse" message="tns:IGOPazigrad_DodajKlasifikaciju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DodajKorisnika">
      <wsdl:input wsaw:Action="http://tempuri.org/IGOPazigrad/DodajKorisnika" message="tns:IGOPazigrad_DodajKorisnika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGOPazigrad/DodajKorisnikaResponse" message="tns:IGOPazigrad_DodajKorisnika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NoviPredmet">
      <wsdl:input wsaw:Action="http://tempuri.org/IGOPazigrad/NoviPredmet" message="tns:IGOPazigrad_NoviPredmet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGOPazigrad/NoviPredmetResponse" message="tns:IGOPazigrad_NoviPredmet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGOPazigrad" type="tns:IGOPazigrad">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Gradovi">
      <soap:operation soapAction="http://tempuri.org/IGOPazigrad/Gradovi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Grupe">
      <soap:operation soapAction="http://tempuri.org/IGOPazigrad/Grupe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DodajKlasifikaciju">
      <soap:operation soapAction="http://tempuri.org/IGOPazigrad/DodajKlasifikaciju" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DodajKorisnika">
      <soap:operation soapAction="http://tempuri.org/IGOPazigrad/DodajKorisnika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NoviPredmet">
      <soap:operation soapAction="http://tempuri.org/IGOPazigrad/NoviPredmet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GOPazigrad">
    <wsdl:port name="BasicHttpBinding_IGOPazigrad" binding="tns:BasicHttpBinding_IGOPazigrad">
      <soap:address location="http://localhost:49982/GOPazigrad.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>