Service References/PazigradPCService/PositionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IzracunavanjeGeoUdaljenosti" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IzracunavanjeGeoUdaljenosti" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUlicaUdaljenost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UlicaUdaljenost" nillable="true" type="tns:UlicaUdaljenost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUlicaUdaljenost" nillable="true" type="tns:ArrayOfUlicaUdaljenost" />
  <xs:complexType name="UlicaUdaljenost">
    <xs:sequence>
      <xs:element minOccurs="0" name="Kbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Udaljenost" type="xs:double" />
      <xs:element minOccurs="0" name="Ulica" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UlicaUdaljenost" nillable="true" type="tns:UlicaUdaljenost" />
</xs:schema>